<header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      <nav class="navbar navbar-expand-lg" style="background-color: #B5C9C3;">
        <a class="navbar-brand" href="/"></a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <!-- TO-DO: For 'Home', Add a <a> tag with an attribute href to call the '/' API that navigates to home page if logged in, or login page if not -->
                <a class="nav-link" href='/'>Home</a>
  
          </li>
          <li class="nav-item">
            <!-- TO-DO: For 'My Courses', add a <a> tag with an attribute href to call the '/courses?taken=true' API that navigates to courses page, showing the courses the student has taken, if logged in, or login page if not -->
              <a class = "nav-link" href='/roommates'>Roommates</a>
          </li>
          <li class="nav-item">
            <!-- TO-DO: For 'Courses', add a <a> tag with an attribute href to call the '/courses' API that navigates to courses page if logged in, or login page if not -->
              <a class = "nav-link" href='/profile'>My Profile</a>
          </li>
          <li class="nav-item">
            <!-- TO-DO: For 'Log out', add a <a> tag with an attribute href to call the '/logout' API that navigates to the logout page -->
              <a class = "nav-link" href='/login'> Log In</a>
          </li>
          <li class="nav-item">
            <!-- TO-DO: For 'Log out', add a <a> tag with an attribute href to call the '/logout' API that navigates to the logout page -->
              <a class = "nav-link" href='/inbox'> Inbox</a>
          </li>
        </ul>
      </nav>
    </header>