<%- include ('../partials/header') %> <%- include ('../partials/menu') %>
<main style="background-color: #CFD8D7;">
  
    <section class="vh-100" style="background-color: #CFD8D7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              
              <div class="card shadow-2-strong text-center" style="border-radius: 1rem; background-color: #B5C9C3;">
                <img class="card-img-top" src="/logo.jpg">
                <div class="card-body p-5">
      
                  <h3 class="mb-5"style = "border-bottom-style:solid;">ROOMMATE</h3>
                  <h3>RoomMate is a dating app style roommate finder for students at CU.</h3>
                  <h3>Just create an account, log in, and start searching for the perfect roommate for you.</h3>
                  <a href="/register"><button class="btn btn-primary btn-lg btn-block" style = "margin-right: 40px; background-color: #CFD8D7; color: black;">Create Account</button></a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>


<%- include ('../partials/footer') %>