<%- include ('../partials/header') %> <%- include ('../partials/menu') %>
<main>
    <section class="vh-100" style="background-color: #CFD8D7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #B5C9C3;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5"style = "border-bottom-style:solid;">ROOMMATE</h3>
                  <p>what is roommate? More of a landing page</p>
                  <h3>Instructions for how you use RoomMate</h3>
                  <button class="btn btn-primary btn-lg btn-block" style = "margin-right: 40px; background-color: #CFD8D7; color: black; "type="submit">Find Roommates</button>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>


<%- include ('../partials/footer') %>