<%- include ("../partials/header") %> 
<%- include ("../partials/menu") %>


<main>
  <section class="vh-100" style="background-color: #CFD8D7;">

    <div class="container py-5 h-75">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #B5C9C3;">
            <div class="card-body p-5 text-center">
  
              <img class="mb-3" src="https://i.imgur.com/xdR8QWw.gif">
              <div class="mb-4" style = "border-bottom-style:solid;"></div>
              
              <form method="POST" action="/login">
                <div class="form-outline mb-4">
                  <input type="text" name="username" id="username" placeholder = "username" class="form-control form-control-lg" />
                  <!-- <label class="form-label" for="username">Username</label> -->
                </div>
    
                <div class="form-outline mb-4">
                  <input type="password" name="password" id="password" placeholder= "password" class="form-control form-control-lg" />
                  <!-- <label class="form-label" for="typePassword">Password</label> -->
                </div>

                <div class = "row">
                  <div class="col-md-6">
                    <div class="position-relative">
                      <button class="btn btn-primary btn-lg btn-block position-absolute top-0 start-0" style = "background-color: #CFD8D7; color: black;"type="submit">Log In</button>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="position-relative">
                      <button onClick="window.location.href='/register'"  class = "btn btn-primary btn-lg btn-block position-absolute end-0" style = "background-color: #CFD8D7; color: black;">Create Account</button>
                    </div>
                  </div>
                </div>

              </form>

              <div class="mb-5">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>


<%- include ('../partials/footer') %>
