<%- include ("../partials/header") %> 
<%- include ("../partials/menu") %>


<main>
  <section class="vh-100" style="background-color: #CFD8D7;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #B5C9C3;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5"style = "border-bottom-style:solid;">Log in</h3>
              
              <form method="POST" action="/login">
              <div class="form-outline mb-4">
                <input type="text" name="username" id="username" placeholder = "username" class="form-control form-control-lg" />
                <!-- <label class="form-label" for="username">Username</label> -->
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" name="password" id="password" placeholder= "password" class="form-control form-control-lg" />
                <!-- <label class="form-label" for="typePassword">Password</label> -->
              </div>
              <div id = "buttons">
              <button class="btn btn-primary btn-lg btn-block" style = "margin-right: 40px; background-color: #CFD8D7; color: black;"type="submit">Login</button>
              </div>
              </form>
              <button class = "btn btn-primary btn-lg btn-block" style = "margin-right: 40px; background-color: #CFD8D7; color: black;"  type ="submit" >Create Account</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>


<%- include ('../partials/footer') %>
