<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
    <section class="vh-100" style="background-color: #CFD8D7;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem; background-color: #B5C9C3;">
                <div class="card-body p-5 text-center">
      
                  <h2 class="mb-5">Successfully Logged Out</h2>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>


<%- include ('../partials/footer') %>